.MuiAppBar-colorPrimary {
    /* position: sticky !important; */
    background-image: linear-gradient(to right, #2B4872, #070918) !important;
}

.background-image-container {
    width: 100%;
    height: 100%
}